body {
    font-family: 'Nunito Sans' sans-serif;
    background-color: #fffafa;
    color: #1c1b1a;
}

header {
    padding: 1em;
    text-align: center;
}

/* .status-complete {
    background-color: #41ead4;
}

.status-incomplete {
    background-color: #ff206e;
} */